.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 16px 0;
    border: 1px solid var(--over3);
    border-radius: 4px;
    background-color: var(--bg3);
    padding: 8px;
}

.categories:hover {
    border: 1px solid var(--over2);
}

.categories a {
    text-decoration: none;
    display: block;
    border-radius: 16px;
    margin: 0 4px;
}

.categories a:hover {
    background-color: var(--bg2);
}

.categoriesLeft {
    display: flex;
}

.categoriesIconWrapper {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 4px 12px;
    border-radius: 16px;
    position: relative;
}

.categoriesIconWrapper svg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    fill: var(--over1);
}

.categoriesIconWrapper span {
    font-size: .8rem;    
    font-weight: bold;
    color: var(--over1);
}

.categoriesRight {
    position: relative;
}

.categoriesMore {
    width: 32px;
    height: 32px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: var(--bg2);
    display: none;
    fill: var(--fg1)
}

.categoriesRightLinks {
    position: absolute;
    right: 0;
    top: 32px;
    background-color: var(--bg1);
    padding: 8px;
    border: 1px solid var(--over3);
    border-radius: 8px;
    display: none;
    z-index: 45;
}

.categoriesRightLinks a {
    border-radius: 16px;
    margin: 0;
}

.categoriesRight:hover .categoriesRightLinks {
    display: block;
}

.categoriesLeft .categoriesActive {
    background-color: var(--bg2);
    border-radius: 16px;
    display: block !important;
}

.categoriesRight .categoriesActive {
    display: none !important;
}

.categoriesLeft .categoriesActive svg {
    fill: var(--prim1);
}

.categoriesLeft .categoriesActive span {
    color: var(--prim1);
}

@media only screen and (max-width: 800px) {
    .categoriesMore {
        display: block;
    }

    .categoriesLeft a {
        display: none;
    }
}