.communities a:hover {
    text-decoration: none;
}

/* --------------------------------------------------------------- */
/* Header Communities */
/* --------------------------------------------------------------- */

header .communities {
    height: 64px;
    width: 96px;
    display: flex;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--over3);
    border-right: 1px solid var(--over3);
    position: relative;
    transition: .5s;
}

header .communities:hover {
    border-left: 1px solid var(--over2);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

header .communitiesWrapper {
    display: flex;
    align-items: center;
}

header .communitiesSvg {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    fill: var(--fg1);
}

header .communities:hover .communitiesSvg {
    fill: var(--prim1);
}

.communitiesExpand {
    transition: .5s;
    fill: var(--fg1);
}

header .communities:hover .communitiesExpand {
    transform: rotate(180deg);
    fill: var(--prim1);
}

header .communitiesDropdown {
    position: absolute;
    left: -1px;
    top: 63px;
    background-color: var(--bg2);
    width: 320px;
    border: 1px solid var(--over2);
    border-top: 0px none transparent;
    display: none;
    overflow: auto;
    height: fit-content;
    max-height: calc(100vh - 94px);
}

header .communities:hover .communitiesDropdown {
    display: block;
}

header .communitiesDropdown input {
    width: 100%;
    padding: 12px;
    background: var(--bg1);
    background: linear-gradient(180deg, rgba(209,209,209,0) 0%, var(--bg3) 100%);
    border-bottom: 1px solid var(--over3);
}

header .communitiesDropdown input:focus {
    outline: 0 none transparent;
}

header .communitiesDropdownList {
    width: 100%;
    list-style: none;
}

header .communitiesDropdownListItem {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .communitiesDropdownListItemLeft {
    display: flex;
    align-items: center;
}

header .communitiesDropdownListItem img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

header .communitiesDropdownListItem p {
    font-weight: bold;
    font-size: .8rem;
}

header .communitiesDropdownListItemLeft p:nth-of-type(2) {
    font-weight: normal;
    font-size: .6rem;
    color: var(--over1);
}

header .communitiesDropdownListItem:hover {
    background-color: var(--bg1);
    color: var(--prim1);
}

@media only screen and (max-width: 720px) {
    header .communities {
        display: none;
    }
}

/* --------------------------------------------------------------- */
/* Menu Communities */
/* --------------------------------------------------------------- */

#menu .communities {
    width: 100%;
    display: flex;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    transition: .5s;
    border-bottom: 1px solid var(--over3);
}

#menu .communitiesWrapper {
    display: none;
}

#menu .communitiesDropdown {
    background-color: var(--bg2);
    width: 100%;
}

#menu .communitiesDropdown input {
    width: 100%;
    padding: 16px;
    background: var(--bg1);
    background: linear-gradient(180deg, rgba(209,209,209,0) 0%, var(--bg3) 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#menu .communitiesDropdown input:focus {
    outline: 0 none transparent;
}

#menu .communitiesDropdownList {
    width: 100%;
    list-style: none;
    overflow: auto;
}

#menu .communitiesDropdownListItem {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .communitiesDropdownListItemLeft {
    display: flex;
    align-items: center;
}

#menu .communitiesDropdownListItem img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

#menu .communitiesDropdownListItem p {
    font-weight: bold;
}

#menu .communitiesDropdownListItemLeft p:nth-of-type(2) {
    font-weight: normal;
    font-size: .6rem;
    color: var(--over1);
}

#menu .communitiesDropdownListItem:hover {
    background-color: var(--bg3);
    color: var(--prim1);
}

/* --------------------------------------------------------------- */
/* Account Communities */
/* --------------------------------------------------------------- */

.account .communities {
    width: 100%;
    display: flex;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.account .communitiesWrapper {
    display: none;
}

.account .communitiesDropdown {
    background-color: var(--bg2);
    width: 100%;
}

.account .communitiesDropdown input {
    width: 100%;
    padding: 16px;
    background-color: var(--bg3);
    color: var(--fg2);
}

.account .communitiesDropdown input:focus {
    outline: 0 none transparent;
}

.account .communitiesDropdownList {
    width: 100%;
    list-style: none;
    overflow: auto;
    max-height: calc(100vh - 222px);
}

.account .communitiesDropdownListItem {
    padding: 8px;
    display: flex;justify-content: space-between;
    align-items: center;
}

.account .communitiesDropdownListItemLeft {
    display: flex;
    align-items: center;
}

.account .communitiesDropdownListItem img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.account .communitiesDropdownListItem p {
    font-weight: bold;
    font-size: .7rem;
}

.account .communitiesDropdownListItemLeft p:nth-of-type(2) {
    font-weight: normal;
    font-size: .6rem;
    color: var(--over1);
}

.account .communitiesDropdownListItem:hover {
    background-color: var(--bg3);
    color: var(--prim1);
}

.account .subscribe {
    z-index: 0;
}



.communitiesDropdownListItem {
    cursor: pointer;
    color: var(--fg1);
}

.communitiesDropdownListItem:hover svg {
    fill: var(--prim1);
}

.communitiesDropdownListItem svg {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-right: 12px;
    background-color: var(--over4);
    border: 1px solid var(--over3);
    padding: 2px;
    fill: var(--fg1);
}

.communitiesDropdown input {
    color: var(--fg2);
}