header #user {
    display: flex;
    align-items: center;
    margin-right: 16px;
    padding: 0 8px;
    height: 64px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transition: .5s;
    position: relative;
}

header #userAvatar {
    height: 56px;
}

header #userSignedIn {
    position: absolute;
    background-color: #c97200;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    bottom: 8px;
    left: 8px;
    animation: online 5s ease-out 0s infinite forwards;
}

@keyframes online {
    0% {transform: scale(100%) translate(0);}
    50% {transform: scale(110%) translate(0, -2px);}
    100% {transform: scale(100%) translate(0);}
}

header #user:hover {
    border-left: 1px solid rgba(0, 0, 0, 0.0);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

header #userExpand {
    transition: .5s;
}

header #user:hover #userExpand {
    transform: rotate(180deg);
}

header #userDropdown {
    list-style: none;
    width: 240px;
    position: absolute;
    background-color: #f1f1f1;
    right: -1px;
    top: 63px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 0 none transparent;
    display: none;
}

header #user:hover #userDropdown {
    display: block;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

header .userDropdownItem {
    padding: 12px;
    transition: .3s;
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header .spaceBetween {
    justify-content: space-between;
}

header #userDropdownItemDark {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header #userDropdownItemDarkToggleOut {
    border: 2px solid #1f1f1f;
    background-color: rgba(0, 0, 0, 0.3);
    width: 64px;
    height: 32px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px;
    transition: transform 1s;
}

header #userDropdownItemDarkToggleIn {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: rgb(209,209,209);
    background: linear-gradient(135deg, rgba(209,209,209,1) 0%, rgba(241,241,241,1) 100%);
    box-shadow: 
        inset 3px 3px 3px rgba(255, 255, 255, 0.8),
        inset -3px -3px 3px rgba(0, 0, 0, 0.1);
}

header .userDropdownItem:hover #userDropdownItemDarkToggleOut {
    border: 2px solid #0d79a8;
    background-color: rgba(13, 121, 168, 0.5);
    transform: scale(1.05);
}

header .userDropdownItem:hover #userDropdownItemDark {
    color: #0d79a8;
}

header .userDropdownItem svg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    fill: #1f1f1f;
    transition: transform .5s;
}

header .userDropdownItem:hover {
    background-color: #f9f9f9;
    color: #0d79a8;
}

header .userDropdownItem:hover svg {
    transform: translate(0, -2px);
    fill: #0d79a8;
}
