.userDropdown a {
    text-decoration: none;
}

/* --------------------------------------------------------------- */
/* Header User */
/* --------------------------------------------------------------- */

header .user {
    display: flex;
    align-items: center;
    margin-right: 16px;
    padding: 0 8px;
    height: 64px;
    border-left: 1px solid var(--over3);
    border-right: 1px solid var(--over3);
    transition: .5s;
    position: relative;
}

header .userWrapper {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

header .userAvatar {
    max-height: 56px;
    max-width: 44px;
    border-radius: 28px;
}

header .userSignedIn {
    position: absolute;
    background-color: var(--sec1);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    bottom: 8px;
    left: 0px;
    animation: online 5s ease-out 0s infinite forwards;
}

header .userLink {
    display: none;
}

@keyframes online {
    0% {transform: scale(100%) translate(0);}
    50% {transform: scale(110%) translate(0, -2px);}
    100% {transform: scale(100%) translate(0);}
}

header .user:hover {
    border-left: 1px solid rgba(0, 0, 0, 0.0);
    border-right: 1px solid var(--over2);
}

header .userExpand {
    fill: var(--fg1);
    transition: .5s;
}

header .user:hover .userExpand {
    transform: rotate(180deg);
}

header .userDropdown {
    list-style: none;
    width: 240px;
    position: absolute;
    background-color: var(--bg2);
    right: -1px;
    top: 63px;
    border: 1px solid var(--over2);
    border-top: 0 none transparent;
    display: none;
}

header .user:hover .userDropdown {
    display: block;
    border-left: 1px solid var(--over2);
    border-right: 1px solid var(--over2);
}

header .userDropdownItem {
    padding: 12px;
    transition: .3s;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--fg1)
}

.spaceBetween {
    justify-content: space-between;
}

header .userDropdownItem svg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    fill: var(--fg1);
    transition: transform .5s;
}

header .userDropdownItem:hover {
    background-color: var(--bg1);
    color: var(--prim1);
}

header .userDropdownItem:hover svg {
    transform: translate(0, -2px);
    fill: var(--prim1);
}

@media only screen and (max-width: 420px) {
    header .user {
        display: none;
    }
}

/* --------------------------------------------------------------- */
/* Menu User */
/* --------------------------------------------------------------- */

#menu .user {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    border-left: 1px solid var(--over3);
    border-right: 1px solid var(--over3);
    transition: .5s;
}

#menu .userWrapper {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#menu .userAvatar {
    max-height: 56px;
    max-width: 44px;
    margin: 8px 12px 8px 16px;
    border-radius: 28px;
}

#menu .userSignedIn {
    position: absolute;
    background-color: var(--sec1);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    bottom: 8px;
    left: 12px;
    animation: online 5s ease-out 0s infinite forwards;
}

#menu .userLink {
    font-weight: bold;
    color: var(--fg1)
}

#menu .userExpand {
    display: none;
    fill: var(--fg1);
}

#menu .userDropdown {
    list-style: none;
    width: 100%;
    display: none;
}

#menu .user:hover .userDropdown {
    display: block;
}

#menu .userDropdownItem {
    padding: 8px;
    transition: .3s;
    font-weight: bold;
    font-size: .8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--fg1)
}

#menu .userDropdownItemDark {
    font-weight: bold;
    display: flex;
    align-items: center;
}

#menu .userDropdownItemDarkToggleOut {
    border: 2px solid var(--over1);
    background-color: var(--darkToggle);
    width: 64px;
    height: 32px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px;
    transition: transform 1s;
}

#menu .userDropdownItemDarkToggleIn {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: var(--bg1);
    background: linear-gradient(135deg, var(--bg1) 0%, var(--bg2) 100%);
    box-shadow: 
        inset 3px 3px 3px rgba(255, 255, 255, 0.5),
        inset -3px -3px 3px rgba(0, 0, 0, 0.3);
}

#menu .userDropdownItem:hover .userDropdownItemDarkToggleOut {
    border: 2px solid var(--prim1);
    background-color: var(--prim4);
    transform: scale(1.05);
}

#menu .userDropdownItem:hover .userDropdownItemDark {
    color: var(--prim1);
}

#menu .userDropdownItem svg {
    height: 24px;
    width: 24px;
    margin: 0 16px 0 8px;
    fill: var(--fg1);
    transition: transform .5s;
}

#menu .userDropdownItem:hover {
    background-color: var(--over3);
    color: var(--prim1);
}

#menu .userDropdownItem:hover svg {
    transform: translate(0, -2px);
    fill: var(--prim1);
}