.sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    max-height: 440px;
    position: relative;
    overflow: hidden;
    background-color: #0d79a8;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.subBanner img {
    width: 100%;
    min-height: 96px;
    object-fit: cover;
    object-position: center;
}

.subBannerUnder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0px none transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.subBannerUnderWrapper {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -48px;
    margin-bottom: 16px;
    height: 100%;
}

.subBannerUnderWrapper img {
    height: 156px;
    width: 156px;
    border: 4px solid #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 50%;
    margin-left: 16px;
}

.subBannerUnderText {
    padding: 0 0 8px;
    width: calc(100% - 144px);
    z-index: 30;
}


.subBannerUnderWrapper h1 {
    font-size: 1.2rem;
    margin: 54px 16px 0 16px;
    word-wrap: break-word;
}

.subBannerUnderWrapper p {
    font-size: .7rem;
    font-weight: bold;
    margin-left: 16px;
    word-wrap: break-word;
}

.subBanner button {
    background-color: #0d79a8;
    border: 2px solid #f1f1f1;
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    padding: 4px;
    width: 80px;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 16px;
    box-shadow: 
        inset 2px 2px 2px rgba(255, 255, 255, 0.2),
        inset -2px -2px 2px rgba(0, 0, 0, 0.0);
        z-index: 31;
}

.subBanner button:hover {
    box-shadow: 
        inset 2px 2px 4px rgba(255, 255, 255, 0.6),
        inset -2px -2px 4px rgba(0, 0, 0, 0.3);
}

.subBanner button:active {
    box-shadow: 
        inset 2px 2px 4px rgba(0, 0, 0, 0.6),
        inset -2px -2px 4px rgba(255, 255, 255, 0.3);
}

.subContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    max-width: 1280px;
}

.subContentRight {
    flex: 1 1;
    padding: 16px 16px 0 0;
    max-width: 360px;
}

.subContentRightSticky {
    position: sticky;
    top: 80px;
    height: calc(100vh - 128px);
    background-color: #f1f1f1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.subContentRightHeader {
    background-color: #0d79a8;
    padding: 16px;
}

.heading {
    font-size: .8rem;
}

.subHeading {
    font-size: .6rem;
}

.blue {
    color: #0d79a8;
}

.paragraph {
    font-size: .8rem;
}

.subContentRightHeaderStats {
    display: flex;
    margin-top: 8px;
}

.subContentRightHeaderStats div {
    width: 50%;
}

.subContentRightMain {
    padding: 16px;
}

.subContentRightRecommended {
    background-color: rgba(255, 255, 255, 0.5);
}

.subContentRightRecommendedHeading {
    padding: 16px;
}

.subContentRightRecommendedLinks {
    width: 100%;
    overflow-y: auto;
}

.subContentRightRecommendedLinksWrapper {
    width: 100%;
}

.subContentRightRecommendedLink {
    background-color: #f1f1f1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subContentRightRecommendedLink button {
    background-color: #0d79a8;
    border: 2px solid #f1f1f1;
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    padding: 4px;
    margin-right: 4px;
    width: 80px;
    font-weight: bold;
    border-radius: 16px;
    box-shadow: 
        inset 2px 2px 2px rgba(255, 255, 255, 0.2),
        inset -2px -2px 2px rgba(0, 0, 0, 0.0);
        z-index: 31;
}

.subContentRightRecommendedLink button:hover {
    box-shadow: 
        inset 2px 2px 4px rgba(255, 255, 255, 0.6),
        inset -2px -2px 4px rgba(0, 0, 0, 0.3);
}

.subContentRightRecommendedLink button:active {
    box-shadow: 
        inset 2px 2px 4px rgba(0, 0, 0, 0.6),
        inset -2px -2px 4px rgba(255, 255, 255, 0.3);
}

.subContentRightRecommendedLinkLeft {
    display: flex;
    align-items: center;
}

.subContentRightRecommendedLink img {
    height: 48px;
    width: 48px;
    display: flex;
    border-radius: 50%;
}

.subContentRightRecommendedLinkData {
    margin-left: 8px;
}

@media only screen and (max-width: 1100px) {
    .subContentRightSticky {
        height: fit-content;
    }

    .subContentRight {
        padding-left: 16px;
        width: 100%;
        flex: none;
        max-width: 800px;
    }

    .subContentRightRecommendedLinks {
        height: 130px !important;
    }
}

@media only screen and (max-width: 520px) {

    .subBannerUnderWrapper {
        margin-top: -40px;
    }

    .subBannerUnderWrapper img {
        width: 128px;
        height: 128px;
    }

    .subBannerUnderWrapper h1 {
        margin: 44px 16px 0 16px;
    }
}