#menu {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 320px;
    height: 100%;
    background-color: var(--bg1);
    border-left: 1px solid var(--over3);
    overflow: auto;
    right: -100%;
    transition: .6s;
    z-index: 100;
}

.openMenu {
    right: 0 !important;
}

@keyframes open {
    0% {right: -100%}
    100% {right: 0}
}

#menuWrapper {
    display: flex;
    justify-content: space-between;
}

#menuClose {
    height: 24px;
    width: 24px;
    margin: 8px;
    transition: .3s;
    fill:var(--fg1)
}

#menuClose:hover {
    transform: scale(1.2);
}

#menuClose:active {
    transform: scale(.9);
}

@media only screen and (min-width: 880px) {
    #menu {
        display: none;
    }
}