.post h2 p {
    margin: 0;
}

.postTitle {
    color: var(--fg1);
}

.post h3 {
    color: var(--fg1);
}

.postBy {
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: .8rem;
    color: var(--fg1);
}

.postSelf {
    color: var(--fg1);
}

.post .tileMainVideo {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 136px);
    object-fit: contain;
}

.post .videoPlayer {
    max-height: calc(100vh - 128px);
}

.post .videoPlayer video {
    max-height: none;
}

.post .tileMainImg {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 136px);
}

.post .tileAwards {
    margin-top: 0;
}

.tileAward p {
    color: var(--fg1);
}

.postBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postBar p {
    font-size: .8rem;
    margin-left: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--fg1);
}

.postActions {
    display: flex;
    align-items: center;
}

.postActions div {
    display: flex;
    flex-direction: row;
}

.postActions div:hover .deleteButton svg {
    fill: var(--sec1)
}

.postActions div:hover .deleteButton p {
    color: var(--sec1)
}

.postAction p {
    color: var(--fg1);
}

.postAction svg {
    fill: var(--fg1);
}

.share {
    position: relative;
}

.shareAlert {
    position: absolute;
    background-color: var(--bg1);
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    color: var(--fg2);
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}

.postVotes {
    display: flex;
}

.postVotes .tileSide {
    margin-right: 8px;
    background-color: transparent;
}

.postVotes p {
    margin: 0 8px 0 0;
}

.postBar .tileSide {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.postBar .tileSideButton {
    width: 32px;
    height: 40px;
}

.postAction {
    padding: 8px;
    cursor: pointer;
}

.postAction:hover p {
    color: var(--prim1);
}

.postAction:hover svg {
    fill: var(--prim1);
}

.post .commentSubmit {
    margin-top: 0px;
}

.comments .markdown ol, .comments .markdown ul {
    margin-left: 12px;
}

.post .delete {
    flex-direction: row-reverse;
}

.post .comments .delete {
    flex-direction: row;
}

/* .post .deleteWarning {
    margin: 0 0 0 8px;
} */

@media only screen and (max-width: 750px) {
    .postAction p {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .postVotes p {
        display: none;
    }
}