.post h2 p {
    margin: 0;
}

.postTitle {
    color: var(--fg1);
}

.post h3 {
    color: var(--fg1);
}

.postBy {
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: .8rem;
    color: var(--fg1);
}

.postSelf {
    color: var(--fg1);
}

.post .tileMainVideo {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 136px);
    object-fit: contain;
}

.post .tileMainImg {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 136px);
}

.post .tileAwards {
    margin-top: 0;
}

.tileAward p {
    color: var(--fg1);
}

.postBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postBar p {
    font-size: .8rem;
    margin-left: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--fg1);
}

.postActions {
    display: flex;
    align-items: center;
}

.postActions div {
    display: flex;
}

.postAction p {
    color: var(--fg1);
}

.postAction svg {
    fill: var(--fg1);
}

.postVotes {
    display: flex;
}

.postVotes .tileSide {
    margin-right: 8px;
    background-color: transparent;
}

.postVotes p {
    margin: 0 8px 0 0;
}

.postBar .tileSide {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.postBar .tileSideButton {
    width: 32px;
    height: 40px;
}

.postAction {
    padding: 8px;
    cursor: pointer;
}

.postAction:hover p {
    color: var(--prim1);
}

.postAction:hover svg {
    fill: var(--prim1);
}

.comments .markdown ol, .comments .markdown ul {
    margin-left: 12px;
}

@media only screen and (max-width: 560px) {
    .postAction p {
        display: none;
    }
}

@media only screen and (max-width: 345px) {
    .postVotes p {
        display: none;
    }
}