.blur {
  filter: blur(4px)
}

.loader {
  filter: invert(13%) sepia(0%) saturate(1206%) hue-rotate(144deg) brightness(82%) contrast(96%);
  height: 64px;
  width: 64px;
  padding: 8px;
  margin: 0 auto;
}