main {
    width: 100%;
    height: calc(100% - 96px);
    min-height: calc(100vh - 96px);
    background-color: rgba(255, 255, 255, .5);
    transition: .5s;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 32px 0;
}

.mainWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLoading {
    font-weight: bold;
    animation: loading, 1s ease-in-out 0s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.mainLoadMore {
    font-weight: bold;
    animation: loading, 1s ease-in-out 0s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.content {
    width: 100%;
    max-width: 800px;
    padding: 0 16px;
}

.bold {
    font-weight: bold;
}

.markdown a {
    text-decoration: underline;
}

.markdown {
    color: inherit
}

.markdown p {
    margin-bottom: 8px;
    color: inherit !important;
}

.markdown ul {
    margin-left: 20px;
    margin-bottom: 8px;
}

.markdown ul p {
    margin-bottom: 0;
}

.markdown ol {
    margin-left: 20px;
    margin-bottom: 8px;
}

.markdown ol p {
    margin-bottom: 0;
}

.readMore {
    font-weight: bold;
    color: #0d79a8;
    cursor: pointer;
    white-space: nowrap;
}

.readMore:hover {
    text-decoration: underline;
}

@keyframes loading {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
