.search {
    width: 100%;
    max-width: 1280px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0 none transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.searchParams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 4px 0;
}

.searchParamsWrapper {
    display: flex;
    flex: 1 1;
}

.searchParamsSelect p {
    font-size: .8rem;
    font-weight: bold;
    margin-right: 8px;
}

.searchParams ul {
    list-style: none;
}

/* .searchParams .dropdownList {
    display: none;
} */

.searchParamsSelect {
    flex: 1 1 128px;
    max-width: 156px;
    position: relative;
    margin: 0 4px 0;
}

.searchParamsSelect .dropdownList {
    transform: translate(0, -4px);
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.searchParamsSelectHidden {
    display: flex;
    max-width: 328px;
    width: 100%;
}

.searchParamsSelect:hover .dropdownList {
    display: block;
}

.searchParamsSelect svg {
    transition: transform .5s;
}

.searchParamsSelect:hover svg {
    transform: rotate(180deg);
}

.dropdown:hover svg {
    fill: #f1f1f1;
}

.dropdownList .active, .isActive {
    display: none;
    cursor: context-menu !important;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    padding: 6px 20px;
    background-color: rgba(13, 122, 168, .2);
    border-radius: 16px;
    cursor: pointer;
}

.dropdown svg {
    height: 16px;
    width: 16px;
    object-fit: cover;
}

.dropdown:hover {
    text-decoration: none;
    background-color: rgba(13, 122, 168, 1);
}

.dropdown:hover p {
    color: #f1f1f1;
}

.isActive p {
    display: none;
    cursor: context-menu;
}

.isActive .active {
    display: block;
}

.searchSafe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.searchSafe p {
    font-size: .6rem;
    text-align: center;
    margin: 0 8px 0 0;
}

.searchSafeToggle {
    width: 22px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin: 0 4px 0 0;
    position: relative;
}

.searchSafeToggleButton {
    height: 8px;
    width: 8px;
    background-color: rgba(13, 122, 168, 1);
    border-radius: 50%;
    margin: 2px;
    position: absolute;
    left: 0;
    transition: .3s;
}

.searchSearchingFor {
    font-size: .8rem;
    margin: 4px;
}

.searchPosts {
    width: 100%;
    padding: 4px 0 16px;
}

@media only screen and (max-width: 600px) {
    .searchParams {
        justify-content: center;
    }

    .searchSafe p {
        display: none;
    }
}

@media only screen and (max-width: 424px) {
    .dropdown p {
        margin: 0;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 412px) {
    .searchParamsSelect p {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 350px) {
    .searchParamsSelect svg {
        display: none;
    }
}

@media only screen and (max-width: 296px) {
    .searchParams {
        justify-content: flex-end;
    }

    .searchSafe p {
        display: block;
    }
}