.search {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--over3);
    border-top: 0 none transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.searchContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.searchParams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bg3);
    padding: 4px 0;
    position: sticky;
    top: 64px;
    border-bottom: 1px solid var(--over3);
    z-index: 70;
    width: 100%;
}

.searchParamsWrapper {
    display: flex;
    flex: 1 1;
}

.searchParamsSelect p {
    font-size: .8rem;
    font-weight: bold;
    margin-right: 8px;
    color: var(--fg1);
}

.searchParams ul {
    list-style: none;
}

/* .searchParams .dropdownList {
    display: none;
} */

.searchParamsSelect {
    flex: 1 1 128px;
    max-width: 156px;
    position: relative;
    margin: 0 4px 0;
}

.searchParamsSelect .dropdownList {
    transform: translate(0, -4px);
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--bg3);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.searchParamsSelectHidden {
    display: flex;
    max-width: 328px;
    width: 100%;
}

.searchParamsSelect:hover .dropdownList {
    display: block;
}

.searchParamsSelect svg {
    transition: transform .5s;
    fill: var(--fg1);
}

.searchParamsSelect:hover svg {
    transform: rotate(180deg);
}

.dropdown:hover svg {
    fill: #f1f1f1;
}

.dropdownList .active, .isActive {
    display: none;
    cursor: context-menu !important;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    padding: 6px 20px;
    background-color: var(--prim4);
    border-radius: 16px;
    cursor: pointer;
}

.dropdown p {
    white-space: nowrap;
}

.dropdown svg {
    height: 16px;
    width: 16px;
    object-fit: cover;
}

.dropdown:hover {
    text-decoration: none;
    background-color: var(--prim1);
}

.dropdown:hover p {
    color: var(--bg2);
}

.isActive p {
    display: none;
    cursor: context-menu;
}

.isActive .active {
    display: block;
}

.searchSafe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.searchSafe p {
    font-size: .6rem;
    text-align: center;
    margin: 0 8px 0 0;
    color: var(--fg2);
}

.searchSafeToggle {
    width: 22px;
    height: 16px;
    border: 2px solid var(--over2);
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin: 0 4px 0 0;
    position: relative;
}

.searchSafeToggleButton {
    height: 8px;
    width: 8px;
    background-color: var(--prim1);
    border-radius: 50%;
    margin: 2px;
    position: absolute;
    left: 0;
    transition: .3s;
}

.searchSearchingFor {
    font-size: .8rem;
    padding: 20px 16px 4px;
    width: 100%;
    color: var(--fg1)
}

.searchPosts {
    width: 100%;
    padding: 0 0 16px;
}

.searchContentRight {
    flex: 1 1;
    padding: 16px 16px 0 0;
    max-width: 360px;
}
.searchContentRightSticky {
    position: sticky;
    top: 126px;
    max-height: calc(100vh - 174px);
    background-color: var(--bg2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid var(--over3);
    overflow: hidden;
}

.searchContentRightStickyCommunitiesWrapper {
    max-height: 377px;
    min-height: fit-content;
}

.searchContentRightHeader {
    background-color: var(--prim1);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContentRightHeading {
    color: var(--bg1);
    font-weight: bold;
}

.searchContentRightHeader a {
    color: var(--bg1) !important;
    font-size: .6rem;
    font-weight: bold;
}

.searchContentRightMain {
    height: fit-content;
    max-height: calc((100vh - 288px) / 2);
    width: 100%;
    overflow: auto;
}

.searchRightStickyItem {
    height: 64px;
    border-top: 1px solid var(--over3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: .6rem;
    color: var(--fg2)
}

.searchRightStickyItem span {
    color: var(--prim1);
}

.searchRightStickyItemLeft {
    display: flex;
    align-items: center;
}

.searchRightStickyItem img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 8px;
}    
/* 
.searchRightStickyMain {
    overflow: auto;
} */

.searchRightStickyCommunities {
   height: fit-content;
}

.searchRightStickyButton {
    background-color: var(--prim1);
    border: 2px solid var(--bg1);
    display: flex;
    justify-content: center;
    color: var(--bg2);
    padding: 4px;
    margin-right: 4px;
    min-width: 80px;
    width: 80px;
    height: fit-content;
    font-weight: bold;
    border-radius: 16px;
    box-shadow: 
        inset 2px 2px 2px rgba(255, 255, 255, 0.2),
        inset -2px -2px 2px rgba(0, 0, 0, 0.0);
        z-index: 31;
}

.searchRightStickyButton:hover {
    box-shadow: 
        inset 2px 2px 4px rgba(255, 255, 255, 0.6),
        inset -2px -2px 4px rgba(0, 0, 0, 0.3);
}

.searchRightStickyButton:active {
    box-shadow: 
        inset 2px 2px 4px rgba(0, 0, 0, 0.6),
        inset -2px -2px 4px rgba(255, 255, 255, 0.3);
}

.searchSubredditsResults {
    margin-top: 16px;
}

.searchSubredditsResultsItem {
    border: 1px solid var(--over3);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px 8px 0px;
    background-color: var(--bg2);
    font-size: .8rem;
}

.searchSubredditsResultsData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.searchSubredditsResultsDataLeft {
    display: flex;
    align-items: center;
    color: var(--fg2);
}

.searchSubredditsResultsItem img {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    border-radius: 50%;
}

.searchSubredditsResultsItemBottom {
    display: block;
    padding: 0 8px;
    color: var(--fg2)
}

.searchSubredditsResultsItem .markdown {
    display: block;
    font-size: .7rem;
    margin-top: 8px;
}

.searchSubredditsResultsItem .readMore {
    display: block;
    margin-bottom: 8px;
}

.searchSubredditsResultsItem .bold span {
    color: var(--prim1);
}

.searchSubredditsResultsItem .spacer {
    height: 8px;
}

@media only screen and (max-width: 600px) {
    .searchParams {
        justify-content: flex-end;
    }

    .searchSafe p {
        display: none;
    }
}

@media only screen and (max-width: 1140px) {
    .searchContentRight {
        display: none;
    }
}

@media only screen and (max-width: 424px) {
    .dropdown p {
        margin: 0;
    }
}

@media only screen and (max-width: 412px) {
    .searchParamsSelect p {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 361px) {
    .searchParamsSelect svg {
        display: none;
    }
}

@media only screen and (max-width: 296px) {
    .searchSafe p {
        display: block;
    }
}