.videoPlayerControls .buttons .volume .volumeSlider input {
    max-width: 80px;
}

input[type="range"] {
    -webkit-appearance: none;
    max-width: 80px;
    height: 4px;
    background: rgba(40 ,40 ,40, .4);
    border-radius: 1px;
    background-image: linear-gradient(rgba(235, 235, 235, 1), rgba(235, 235, 235, 1));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgba(235, 235, 235, 1);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

/* input[type=”range”]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgba(235, 235, 235, 1);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type=”range”]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgba(235, 235, 235, 1);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}   

input[type=”range”]::-ms-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgba(235, 235, 235, 1);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type=”range”]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=”range”]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=”range”]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}    */

.playPosition input {
    min-width: 100%;
}

.playPosition input[type="range"] {
    -webkit-appearance: none;
    max-width: 80px;
    height: 4px;
    /* background: rgba(40 ,40 ,40, .4); */
    border-radius: 1px;
    background-image: linear-gradient(var(--sec1), var(--sec1));
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }

.playPosition input[type="range"]::-webkit-slider-thumb {
    transform: scale(0%);
    transition: transform .5s;
    background-color: rgba(40 ,40 ,40, .6);
    height: 16px;
    width: 16px;
    border: 6px solid var(--sec1);
}

.playPosition:hover input[type="range"]::-webkit-slider-thumb {
    transform: scale(100%);
}