header #mainLinks {
    display: flex;
    list-style: none;
    margin-right: 8px;
}

header .mainLinksItems {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: rgba(13, 121, 168, 0.1);
    transition: transform .5s;
}

header .mainLinksItems:hover {
    background-color: rgba(13, 121, 168, 0.2);
    transform: scale(1.2);
}

header .mainLinksItems:active {
    background-color: rgba(13, 121, 168, 0.3);
    transform: scale(.9);
}

header .mainLinksItems svg {
    fill: #0d7aa8;
}

header .mainLinksItems p {
    display: none;
}