.mainLinks a {
    text-decoration: none;
    display: block;
}

/* --------------------------------------------------------------- */
/* Header Main Links */
/* --------------------------------------------------------------- */

header .mainLinks {
    display: flex;
    list-style: none;
}

header .mainLinks a {
    margin-right: 16px;
    border-radius: 50%;
    background-color: var(--prim2);
    transition: transform .3s;
}

header .mainLinks a:hover {
    background-color: var(--prim3);
    transform: scale(1.2);
}

header .mainLinks a:active {
    background-color: var(--prim4);
    transform: scale(.9);
}

header .mainLinksItems {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
}

header .mainLinksItems svg {
    fill: var(--prim1);
}

header .mainLinksItems p {
    display: none;
}

@media only screen and (max-width: 520px) {
    header .mainLinks {
        display: none;
    }
}

/* --------------------------------------------------------------- */
/* Menu Main Links */
/* --------------------------------------------------------------- */

#menu .mainLinksItems {
    display: flex;
    align-items: center;
    padding: 8px 0;
    background-color: var(--prim2);
    font-weight: bold;
    transition: transform .3s;
    font-size: .9rem;
}

#menu .mainLinksItems:hover {
    background-color: var(--prim1);
}

#menu .mainLinksItems svg {
    padding: 0 4px;
    margin: 0 8px;
    height: 40px;
    width: 40px;
    fill: var(--fg2)
}

#menu .mainLinksItems:hover svg {
    fill: var(--bg1);
}

#menu .mainLinksItems:hover p {
    color: var(--bg1);
}

@media only screen and (min-width: 540px) {
    #menu .mainLinks {
        display: none;
    }
}