.comments {
    margin-top: 8px;
}

.commentsList {
    list-style: none;
}

.commentsRemaining {
    font-size: .6rem !important;
    font-weight: bold !important;
    margin: 0 8px 8px 8px !important;
    color: var(--fg2) !important;
}

.commentsActions {
    display: flex;
}

.commentsActions p {
    font-size: .7rem !important;
    font-weight: bold !important;
    margin: 0 8px 8px !important;
    cursor: pointer;
    color: var(--over2) !important;
}

.commentsActions p:hover {
    color: var(--fg2) !important;
}

.commentsItem {
    margin-bottom: 8px;
    background-color: var(--over4);
    padding: 8px;
    border: 1px solid var(--over3);
    border-radius: 8px;
    transition: .5s;
}

.commentsItem:hover {
    border: 1px solid var(--over2);
}

.commentsItem p {
    word-wrap: break-word;
    font-size: .8rem;
    color: var(--fg2);
}

.commentsItem a, strong {
    color: var(--fg2);
}

.commentsItem p:nth-of-type(1) {
    margin-bottom: 4px;
}

.commentsItem .tileSide {
    flex-direction: row;
    background-color: transparent;
    padding-bottom: 0;
}

.commentsItem .tileSideButton {
    justify-content: flex-start;
    margin-right: 8px;
}

.commentsItem .tileSideButton svg {
    height: 20px;
    width: 20px;
}

.commentsItemVotes {
    display: flex;
}

.commentsItemVotes .tileAwards {
    margin: 0 8px;
    padding-top: 8px;
}