.comments {
    margin-top: 8px;
}

.commentsList {
    list-style: none;
}

.commentsRemaining {
    font-size: .6rem !important;
    font-weight: bold !important;
    margin: 0 8px 8px 8px !important;
    color: var(--fg2) !important;
}

.commentsActions {
    display: flex;
}

.commentsActions p {
    font-size: .7rem !important;
    font-weight: bold !important;
    margin: 0 8px 8px !important;
    color: var(--over2) !important;
    cursor: pointer;
}

.commentsActions p:hover {
    color: var(--fg2) !important;
}

.commentsItem {
    margin-bottom: 8px;
    background-color: var(--over4);
    padding: 8px;
    border: 1px solid var(--over3);
    border-radius: 8px;
    transition: .5s;
}

.commentsItem:hover {
    border: 1px solid var(--over2);
}

.commentsItem p {
    word-wrap: break-word;
    font-size: .8rem;
    color: var(--fg2);
}

.commentsItem a, strong {
    color: var(--fg2);
}

.commentsItem p:nth-of-type(1) {
    margin-bottom: 4px;
}

.commentsItem .tileSide {
    flex-direction: row;
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
}

.commentsItem .tileSideButton {
    justify-content: flex-start;
    margin-right: 8px;
}

.commentsItem .tileSideButton svg {
    height: 20px;
    width: 20px;
    fill: var(--over1);
}

.commentsItem .tileSideButton svg:hover {
    fill: var(--fg1);
}

.commentsItemVotes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentsItemVotesRight {
    display: flex;
    align-items: center;
}

.commentsItemVotesRight p {
    margin-bottom: 0 !important;
    font-size: .6rem;
}

.commentsItemVotesRight svg {
    fill: var(--over2);
    height: 20px;
    width: 20px;
}

.commentsItemVotes label {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 8px;
}

.commentsItemVotes label:hover svg {
    fill: var(--over1);
}

.commentsItemVotes label:active svg {
    fill: var(--prim1);
}

.commentsItemVotes label:active p {
    color: var(--prim1);
}

.commentsItem .tileAwards {
    margin: 0;
    padding: 0;
    margin-top: 8px;
}

.commentsItem .commentSubmit {
    margin: 8px 0 0 0;
    width: 100%;
}

.commentSubmit {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 8px;
    width: calc(100% - 16px);
    position: relative;
}

.commentSubmitTextWrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    width: calc(100% - 52px);
    min-height: 44px;
}

.commentSubmit textarea {
    background-color: var(--bg2);
    color: var(--fg1);
    padding: 8px 16px;
    font-size: .9rem;
    overflow: hidden;
    resize: none;
    flex-grow: 1;
    border: 1px solid var(--over3);
    border-radius: 24px;
    height: 37px;
}

.commentSubmit textarea:focus {
    outline: 0 none transparent;
}

.commentSubmitButtonWrapper {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.commentSubmitButtonWrapper svg {
    margin: 4px;
    fill: var(--fg1);
    background-color: var(--over3);
    border: 1px solid var(--over3);
    border-radius: 50%;
    padding: 6px;
    height: 36px;
    width: 36px;
    transition: .1s;
}

.commentSubmitButtonWrapper svg:hover {
    background-color: var(--over2);
}

.commentSubmitButtonWrapper svg:active {
    background-color: var(--prim1);
    fill: var(--bg1);
}

.commentSubmitHelp p {
    font-weight: bold;
    font-size: .5rem;
    margin-left: 12px;
    margin-top: 8px;
    color: var(--fg1);
}

.commentsItem .deleteButton {
    position: static;
    margin-left: 8px;
}