/* --------------------------------------------------------------- */
/* Header New Post */
/* --------------------------------------------------------------- */

header .newPost {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-right: 16px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: var(--over4);
    transition: transform .3s;
}

header .newPost:hover {
    background-color: var(--over3);
    border: 1px solid var(--bg1);
}

header .newPost:active {
    transform: scale(.9);
    background-color: var(--bg2);
    border: 1px solid var(--over3);
}

header .newPostSvg {
    display: flex;
    height: 40px;
    width: 40px;
    padding: 4px;
    fill: var(--fg2);
    transition: transform .5s;
}

header .newPost:hover .newPostSvg {
    transform: scale(1.1) rotate(720deg);
}

header .newPostText {
    display: none;
}

@media only screen and (max-width: 620px) {
    header .newPost {
        display: none;
    }
}

/* --------------------------------------------------------------- */
/* Menu New Post */
/* --------------------------------------------------------------- */

#menu .newPost {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 16px;
    transition: transform .3s;
    font-weight: bold;
    padding: 12px 0;
    background-color: var(--bg2);
    color: var(--fg2)
}

#menu .newPost:hover {
    background-color: var(--bg3);
}

#menu .newPostSvg {
    display: flex;
    height: 40px;
    width: 40px;
    padding: 4px;
    fill: var(--fg2);
    transition: transform .5s;
    margin: 0 8px;
}

#menu .newPost:hover .newPostSvg {
    fill: var(--prim1);
}

#menu .newPost:hover .newPostText {
    color: var(--prim1);
}