header #newPost {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-right: 16px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform .3s;
}

header #newPost:hover {
    background-color: rgba(31, 31, 31, .1);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

header #newPost:active {
    transform: scale(.9);
}

header #newPost:active {
    background-color: rgba(31, 31, 31, .3);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

header #newPostSvg {
    display: flex;
    height: 40px;
    width: 40px;
    padding: 4px;
    fill: #1f1f1f;
    transition: transform .5s;
}

header #newPost:hover #newPostSvg {
    transform: scale(1.1) rotate(720deg);
}

header #newPostText {
    display: none;
}