/* --------------------------------------------------------------- */
/* Header Login */
/* --------------------------------------------------------------- */

header .login {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .loginButton {
    border: 2px solid var(--sec1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--over4);
    padding: 4px 8px;
    border-radius: 32px;
    margin: 0 16px 0 0;
    cursor: pointer;
    text-decoration: none;
    height: 52px;
    white-space: nowrap;
    transition: .3s;
    text-align: center;
}

header .loginButton:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

header .loginButton:active {
    box-shadow: 
        2px 2px 3px transparent,
        inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

header .red {
    background-color: var(--prim1);
    color: var(--bg1) !important;
    border: 2px solid var(--prim1);
}

header .loginButtonImg {
    height: 40px;
    width: 40px;
}

header .loginButtonText {
    color: var(--sec1);
    margin: 0 16px;
    font-size: 1.1rem;
    font-weight: bold;
}

@media only screen and (max-width: 720px) {
    header .login {
        display: none;
    }
}

/* --------------------------------------------------------------- */
/* Menu Login */
/* --------------------------------------------------------------- */

#menu .login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--over4);
    padding: 4px 8px;
    width: 50%;
    cursor: pointer;
    text-decoration: none;
    height: 52px;
    white-space: nowrap;
    transition: .3s;
    text-align: center;
}

#menu .red {
    background-color: var(--prim1);
    color: var(--bg1) !important;
    border: 2px solid var(--prim1);
}

#menu .loginButtonImg {
    height: 40px;
    width: 40px;
}

#menu .loginButtonText {
    color: var(--sec1);
    margin: 0 16px;
    font-size: 1.1rem;
    font-weight: bold;
}

@media only screen and (min-width: 720px) {
    #menu .login {
        display: none;
    }
}