header {
    position: sticky;
    top: 0;
    height: 64px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: .5s;
    z-index: 90;
}

header:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#headerWrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerWrapperLeft {
    display: flex;
    align-items: center;
    flex: 1 0;
}

#headerWrapperRight {
    display: flex;
    align-items: center;
}

#headerLogoWrapper {
    display: flex;
    align-items: center;
    margin: 0 16px;
}

#headerLogo {
    height: 64px;
    width: 64px;
}

#headerLogoText {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 8px;
}

@media only screen and (max-width: 920px) {
    #headerLogoText {
        display: none;
    }
}